{% extends 'questions/base.html' %}
{% load tagtools %}

{% block contexts %}
<div class="row">
        <section>
             <div class="col-xs-12">
                <p>法律服务在线咨询社区,千名律师向您提供专业服务。法律服务在线咨询社区,千名律师向您提供专业服务。法律服务在线咨询社区,千名律师向您提供专业服务。法律服务在线咨询社区,千名律师向您提供专业服务。法律服务在线咨询社区,千名律师向您提供专业服务。法律服务在线咨询社区,千名律师向您提供专业服务。法律服务在线咨询社区,千名律师向您提供专业服务。法律服务在线咨询社区,千名律师向您提供专业服务。法律服务在线咨询社区,千名律师向您提供专业服务。法律服务在线咨询社区,千名律师向您提供专业服务。</p>
             </div>
        </section>
        <div class="col-md-8">
            <!-- Tim_To_Tin:
            后台以传出来，example:
           {# {% for qu in hot_question %} #}
            链接： {#"{% url 'questions:question' qu.id %}"#}-->
            <h2 class="section-title">热门问题</h2>
            <div class="panel-group" id="accordion1">
             {% for qu in hot_question %} 
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-link">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#qu{{qu.id}}">
                               {{ qu.title }}
                            </a>
                    </div>
                    <div id="qu{{qu.id}}" class="panel-collapse collapse">
						<div class="panel-body">
						<pre>{{ qu.description }}</pre>
						<a href="{% url 'questions:question' qu.id %}">>>详情</a>
                        </div>
                    </div>
                </div>
             {% endfor %} 
            </div> <!-- panel-group -->
        </div> <!-- col-md-8 -->
        <div class="col-md-4">
            <h2 class="section-title">还有别的问题？</h2>

            <form role="form" method="post" action="{% url 'questions:new_question'  %}">
                {% csrf_token %}
                {{ 'questions:new_question'|transacserial }}
                {% if user.is_authenticated %}
                <div class="form-group">
                    <label for="InputName">标题</label>
                    <input type="text" class="form-control" id="InputName" name="title" placeholder="请输入标题">
                </div>
                <div class="form-group">
                    <label for="InputText">正文</label>
                    <textarea id="InputText" class="form-control" rows="5" name="description"></textarea>
                </div>
                <button type="submit" class="btn btn-ar btn-success btn-lg btn-block">发表问题</button>
                {% else %}
                    <div class="form-group">
                        <label>请在 <a href="#">登录</a> 或 <a href="#">注册</a>后进行评论</label>
                    </div>
                {% endif%}
            </form>

        </div>
    </div>
{% endblock %}