{% extends 'accounts/base.html' %}
{% block title %}问题正文-{{ question.title }}{% endblock %}
{% block contexts %}
<h2 class="section-title" style="margin-top:0">{{ question.title }}</h2>
<div class="panel panel-default">
	<div class="panel-body">
		{{ question.description }}
	</div>
	<div class="panel-footer">
	<strong>客户:</strong><a href="{% url 'accounts:profile' question.client.user.id %}">{{ question.client.user.username }}</a> <strong>日期:</strong>{{ question.publish_date }}
	</div>
</div>


{% for question_text in question_texts %}
<div>
	<p> {% if question_text.user_flag %} 追问:
		{% else %} 回答:
		{% endif %}
	 {{question_text.text}} </p>
	<p> {{comment.publish_date}} </p>
</div>
{% endfor %}

<section class="comment-form">
    <h2 class="section-title">回答</h2>
    <form action="{% url 'questions:new_question_text' question.id %}" method="post" role="form">
    {% csrf_token %}
    {% if user.is_authenticated %}
        <div class="form-group">
            <textarea class="form-control" id="inputMessage" rows="6" name="txt_question"></textarea>
        </div>
        <button type="submit" class="btn btn-ar pull-right btn-primary">Submit</button>
    {% else %}
    	<div class="form-group">
            <label for="inputName">please <a href="#">login</a>or <a href="#">sign up</a> before answer question.</label>
        </div>
    {% endif %}
    </form>
</section>

{% if question.state %}
<div>已满意</div>
{% else %}
<a href="{% url 'questions:satisfied' question.id %}"><button>满意</button></a>
{% endif %}

<a href="{% url 'accounts:usercenter' %}">返回用户中心</a>
{% endblock %}

