{% extends 'smartcontract/base.html' %}

{% block contexts %}
<div class="row">
		<div class="col-md-12" style="margin-bottom:40px" >
            <div class="title-logo animated fadeInDown animation-delay-5"  style="padding-top: 0">全自动<span>合同</span></div>
            <p class="slogan text-center">不用高额的律师费用<br> 点点鼠标<br>剩下全交给我们!上千种合同模板,供您选择!并且
            <br><i class="fa fa-5x fa-dollar" style="margin-top: 30px;margin-bottom:-100px"></i></p>
			<div class="title-logo animated fadeInDown animation-delay-5">全,部<span>免,费</span></div>
        </div>
	<div class="col-md-4 col-sm-6">
		<div class="pricign-box animated fadeInUp animation-delay-7">
            <div class="pricing-box-header">
                <h2>企业日常法务</h2>
                <p>用于生成日常的企业文书</p>
            </div>
            <div class="pricing-box-content list-group">
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 股权转让协议</a>
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 专利转让合同</a>
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 专利许可协议</a>
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 商标转让合同</a>
            </div>
            <div class="pricing-box-footer">
                <a href="#" class="btn btn-ar btn-default">请律师代写合同</a>
            </div>
        </div>
	</div>

	<div class="col-md-4 col-sm-6">
		<div class="pricign-box pricign-box-pro animated fadeInUp animation-delay-7">
            <div class="pricing-box-header">
                <h2>私人法律服务</h2>
                <p>用于处理日常法律事务</p>
            </div>
            <div class="pricing-box-content list-group">
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 房屋买卖合同</a>
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 房屋抵押借贷合同</a>
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 审核房产租赁合同</a>
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 借款合同</a>
            </div>
            <div class="pricing-box-footer">
                <a href="#" class="btn btn-ar btn-default">请律师代写合同</a>
            </div>
        </div>
	</div>

	<div class="col-md-4 col-sm-6">
		<div class="pricign-box animated fadeInUp animation-delay-7">
            <div class="pricing-box-header">
                <h2>注册公司/商标</h2>
                <p>各种注册文书,帮助您快速高效注册</p>
            </div>
            <div class="pricing-box-content list-group">
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 名称预核准申请表</a>
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 企业登记申请书</a>
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 股东无偿提供场地协议书</a>
                    <a href="#" class="list-group-item"><i class="fa fa-inbox"></i> 股东会决议</a>
            </div>
            <div class="pricing-box-footer">
                <a href="#" class="btn btn-ar btn-default">订购文档套餐</a>
            </div>
        </div>
	</div>
</div>
{% endblock %}