{% extends 'base.html' %}
{% load staticfiles %}{% load tagtools %}
{% block title %}律师{% endblock %}
{% block headextra %}
<script type="text/javascript">
  $(function () {
    select_nav("LawyerList");
  });
</script>
{% endblock %}
{% block head %}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">律师列表</h1>

		<!-- {# {% if is_master %}
		        <ol class="breadcrumb pull-right">
			<li><a href="{% url 'blogs:new_article' %}">写新文章</a></li>
		</ol>
		{% endif %} #} -->
    </div>
</header>
{% endblock %}
{% block main %}
<div class="row">
	<div class="col-md-8 wow fadeInUp animated" style="visibility: visible; -webkit-animation: fadeInUp;">
	    <h2 class="right-line">说明</h2>
	    <p class="p-lg">律师（lawyer，solicitor，attorney，a lawyer; a barrister (at law); a counsel; (Am.) an attorney (at law)）不同于古代的讼师、状师。是指依法取得律师执业证书，接受委托或者指定，为当事人提供法律服务的执业人员。
按照工作性质划分，律师可分为专职律师与兼职律师，按照业务范围划分，律师可分为民事律师、刑事律师和行政律师，按照服务对象和工作身份，分为社会律师、公司律师和公职律师。律师业务主要分为诉讼业务与非诉讼业务。</p>
	    <h4>其他信息</h4>
	    <p class="p-lg">本站有超过2000名律师入驻,巴拉巴拉巴拉</p>
	    <hr class="dotted">
	    <blockquote class="blockquote-color-bg-primary">
	        <p>法庭的辩护，需要灵巧的智慧，敏捷的思路，以及瞬间决定的应对能力。优柔寡断，往往会招致失败。有时候，场上的情况又要求律师要有自控能力，不论你内心多麽焦急，外表上必须像平静的池水一样沈著冷静。</p>
	        <footer>--丹诺</footer>
	    </blockquote>
	</div>
	<div class="col-md-4 wow fadeInUp animated" style="visibility: visible; -webkit-animation: fadeInUp;">
	    <h2 class="right-line">我们的客户</h2>
	    <div class="row">
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="{% static 'img/company/intel.png' %}" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="{% static 'img/company/microsoft.png' %}" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="{% static 'img/company/nokia.png' %}" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="{% static 'img/company/samsung.png' %}" alt="" class="img-responsive"></div>
	    </div>
	    <div class="row">
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="{% static 'img/company/anz.png' %}" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="{% static 'img/company/maxis.png' %}" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="{% static 'img/company/sony.png' %}" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="{% static 'img/company/hp.png' %}" alt="" class="img-responsive"></div>
	    </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
        <h2 class="right-line">律师名录</h2>
    </div>
    <div class="col-md-6">
    {% for lawyer in lawyers %}
    	{% if forloop.counter|divisibleby:'2' %}
        <section>
            <div class="panel panel-default  animated fadeInDown animation-delay-8">
                <div class="panel-body">
                    <h3 href="{% url 'accounts:profile' lawyer.user.id %}" class="section-title no-margin-top">{{ lawyer }}<small class="pull-right">{{ lawyer.job_title }}</small><div class="clearfix"></div></h3>
                    <div class="clearfix"></div>
                    <div class="context animated fadeInDown animation-delay-8">
                        <div>
	                        <img src="{{ lawyer.user|avatarurl }}" alt="" style="height: 100px; width: 100px; " class="alignleft imageborder">
	                        <p class="no-margin-top">{{ lawyer.intro }}</p>
	                        <!-- <p class="no-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p> -->
	                        <div class="clearfix"></div>
	                    </div>
                    	<div class="caption-ar">
		                    <div class="caption-content">
		                        <h4><a href="{% url 'blogs:index' lawyer.id %}" class="animated fadeInDown"><i class="fa fa-circle-o-notch fa-spin"></i>enter blog</a></h4>
		                    </div>
		                </div>
                    </div>
                    <p></p>
                    <!-- <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a> -->
                    
                    <!-- add if condition -->
                    <div class="btn-group pull-right">
                    	<a href="{% url 'accounts:remark' lawyer.id %}" class="btn btn-ar btn-primary "><i class="fa fa-fw fa-navicon"></i>&nbsp;资料</a>
                    <a href="{% url 'accounts:remark' lawyer.id %}" class="btn btn-ar btn-danger"><i class="fa fa-fw fa-twitch"></i>&nbsp;评价</a>
                    </div>
                </div>
            </div>

        </section>
        {% endif %}
	{% endfor %}
	</div>
	    <div class="col-md-6">
    {% for lawyer in lawyers %}
    	{% if forloop.counter0|divisibleby:'2' %}
        <section>
            <div class="panel panel-default  animated fadeInDown animation-delay-8">
                <div class="panel-body">
                    <h3 href="{% url 'accounts:profile' lawyer.user.id %}" class="section-title no-margin-top">{{ lawyer }}<small class="pull-right">{{ lawyer.job_title }}</small><div class="clearfix"></div></h3>
                    <div class="clearfix"></div>
                    <div class="context animated fadeInDown animation-delay-8">
                        <div>
	                        <img src="{{ lawyer.user|avatarurl }}" alt="" style="height: 100px; width: 100px; " class="alignleft imageborder">
	                        <p class="no-margin-top">{{ lawyer.intro }}</p>
	                        <!-- <p class="no-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p> -->
	                        <div class="clearfix"></div>
	                    </div>
                    	<div class="caption-ar">
		                    <div class="caption-content">
		                        <h4><a href="{% url 'blogs:index' lawyer.id %}" class="animated fadeInDown"><i class="fa fa-circle-o-notch fa-spin"></i>enter blog</a></h4>
		                    </div>
		                </div>
                    </div>
                    <p></p>
                    <!-- <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a> -->
                    
                    <!-- add if condition -->
                    <div class="btn-group pull-right">
                    	<a href="{% url 'accounts:remark' lawyer.id %}" class="btn btn-ar btn-primary "><i class="fa fa-fw fa-navicon"></i>&nbsp;资料</a>
                    <a href="{% url 'accounts:remark' lawyer.id %}" class="btn btn-ar btn-danger"><i class="fa fa-fw fa-twitch"></i>&nbsp;评价</a>
                    </div>
                </div>
            </div>

        </section>
        {% endif %}
	{% endfor %}
	</div>
	

</div>
{% endblock %}
