{% extends 'base.html' %}
{% block title %}律师{% endblock %}
{% block lawyerlist %}class="active"{% endblock %}
{% block head %}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">律师list</h1>

		<!-- {# {% if is_master %}
		        <ol class="breadcrumb pull-right">
			<li><a href="{% url 'blogs:new_article' %}">写新文章</a></li>
		</ol>
		{% endif %} #} -->
    </div>
</header>
{% endblock %}
{% block main %}
<div class="row">
	<div class="col-md-8 wow fadeInUp animated" style="visibility: visible; -webkit-animation: fadeInUp;">
	    <h2 class="right-line">说明</h2>
	    <p class="p-lg">Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Corpora, occulta eruditionem, vidisse videamus occultarum inciderit nocet dubitat studia fama latinam, redeamus miserius dissentio reici defatigatio honesta hinc doloremque. Pacto otiosum fecerit, propemodum ceramico exercitumque vidisse vocent orationis lucilius utrisque repugnantiumve mnesarchum. Democrito quaerimus monstret tradere magnosque bono eaque variis, beatam erat restincto ipse pariatur.</p>
	    <h4>Other information</h4>
	    <p class="p-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ne albuci eorum <strong>disciplina</strong> invenerit gravissimis usque, voluptati aristippi maestitiam intuemur, ibidem platonem eveniet allevatio expectant reddidisti magnus quis. Tarentinis effluere quoniam evolutio oblivione eo expressas magnitudinem maior summum, placeat quosque concursio videatur verbi efficiantur.</p>
	    <hr class="dotted">
	    <blockquote class="blockquote-color-bg-primary">
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, leo eget bibendum sodales.</p>
	        <footer>Adrián Guerra Marrero, Artificial Reason CEO</footer>
	    </blockquote>
	</div>
	<div class="col-md-4 wow fadeInUp animated" style="visibility: visible; -webkit-animation: fadeInUp;">
	    <h2 class="right-line">something</h2>
	    <div class="row">
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="../assets/img/demo/intel.png" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="../assets/img/demo/microsoft.png" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="../assets/img/demo/nokia.png" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="../assets/img/demo/samsung.png" alt="" class="img-responsive"></div>
	    </div>
	    <div class="row">
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="../assets/img/demo/anz.png" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="../assets/img/demo/maxis.png" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="../assets/img/demo/sony.png" alt="" class="img-responsive"></div>
	        <div class="col-md-6 col-sm-3 col-xs-6"><img src="../assets/img/demo/hp.png" alt="" class="img-responsive"></div>
	    </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
            <h2 class="right-line">律师名录</h2>
        </div>
        {% for lawyer in lawyers %}

	<div class="col-md-6">
            <section>
                <div class="panel panel-default  animated fadeInDown animation-delay-8">
                    <div class="panel-body">
                        <h3 href="{% url 'accounts:profile' 'l' lawyer.id %}" class="section-title no-margin-top">{{ lawyer }}<small class="pull-right">Lorem ipsum.</small><div class="clearfix"></div></h3>
                        <div class="clearfix"></div>
                        <div class="context animated fadeInDown animation-delay-8">
	                        <div>
		                        <img src="../img/t2.jpg" alt="" class="alignleft imageborder">
		                        <p class="no-margin-top">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, explicabo, impedit, voluptatibus fugiat saepe mollitia modi ab itaque cumque perferendis aut ducimus voluptas enim. Aspernatur, nobis id molestias! Quas, beatae commodi voluptates qui sed sint eos magni perferendis! Ea, necessitatibus.</p>
		                        <p class="no-margin-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, illum dolor alias provident officiis. Neque at accusamus quis provident delectus commodi voluptates.</p>
		                        <div class="clearfix"></div>
		                    </div>
                        	<div class="caption-ar">
			                    <div class="caption-content">
			                        <h4><a href="{% url 'blogs:index' lawyer.id %}" class="animated fadeInDown"><i class="fa fa-circle-o-notch fa-spin"></i>enter blog</a></h4>
			                    </div>
			                </div>
                        </div>
                        <p></p>
                        <a href="#" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-icon-ar sm google-plus animated fadeInDown"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-icon-ar sm facebook animated fadeInDown"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-icon-ar sm instagram animated fadeInDown"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="social-icon-ar sm pinterest animated fadeInDown"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i></a>
                        <a href="#" class="social-icon-ar sm git animated fadeInDown"><i class="fa fa-github"></i></a>
                        
                        <!-- add if condition -->
                        <div class="btn-group pull-right">
                        	<a href="{% url 'accounts:remark' lawyer.id %}" class="btn btn-primary "><i class="fa fa-fw fa-navicon"></i>&nbsp;资料</a>
                        <a href="{% url 'accounts:remark' lawyer.id %}" class="btn btn-danger"><i class="fa fa-fw fa-twitch"></i>&nbsp;评价</a>
                        </div>
                    </div>
                </div>

            </section>
    </div>
	<div class="col-mid-6"></div>
	{% endfor %}
</div>
{% endblock %}
