{% extends 'accounts/base_usercenter.html' %}
{% load staticfiles %}
{% load tagtools %}
{% block title %}新问题{% endblock %}
{% block headextra %}
<script type="text/javascript">
  $(function () {
    select_nav("UserCenter");
  });
</script>
{% endblock %}
{% block main_col %}
<h1>提新问题</h1>
<form method="post" >
    {% csrf_token %} {{ 'accounts:new_question'|transacserial }}
    <div class="form-group" >
    {{ question_create.title.label_tag }}<div class="col-sm-10 col-md-10">{{ question_create.title }}</div>
    {{ question_create.lawyer.label_tag }}<div class="col-sm-10 col-md-10">{{ question_create.lawyer }}</div>
    </div>
    {{ question_create.description.label_tag }}<div class="col-sm-10 col-md-10">{{ question_create.description }}</div>
    <input type="submit"/>
</form>
{% endblock %}
