{% extends 'base.html' %}
{% block title %}订单{% endblock %}
{% block main %}
<h1>订单</h1>
<div>客户 <a href="{% url 'accounts:profile' order.client.user.id %}">{{ order.client.user.username }}</a></div>
{% if EN_ORDERPROCESS %}
{% for order_process in order.orderprocess_set.all %}
<div>律师 <a href="{% url 'accounts:profile' order_process.lawyer.user.id %}">{{ order_process.lawyer.user.username }}</a></div>
{% endfor %}
{% else %}
<div>律师 <a href="{% url 'accounts:profile' order.lawyer.user.id %}">{{ order.lawyer.user.username }}</a></div>
{% endif %}
<div>产品 <a href="{% url 'products:detail' order.product.id %}">{{ order.product.name }}</a></div>
<div>日期 {{ order.publish_date }}</div>
<div>状态 {{ order.state }}</div>
<div>备注 
	<div>
		<form method="post">
			{% csrf_token %}
			<textarea name="text">{{ order.text }}</textarea>
			<input type="submit" value="修改备注" />
		</form>
	</div>

	<a href="{% url 'products:order_delete' order.id %}">取消订单</a>
</div>

{% endblock %}

