<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load staticfiles %}{% load tagtools %}
{% block title %}{{ role.user.username }}{% endblock %}
{% block headextra %}
<script type="text/javascript">
  $(function () {
    select_nav("Home");
  });
</script>
{% endblock %}

 {% block head %}
 <header class="services-header no-margin-bottom">
    <div class="primary-dark-div">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-push-4 col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
                    <div class="profile-header-text">
                        <h1>{{ role.user.username }}</h1>
                        <!-- <h2>@artificialreason</h2> -->
                    </div>
                </div>
            </div>
            <div class="profile-avatar-container">
                <img class="profile-avatar" src="{{ role.user|avatarurl }}" alt="">
            </div>
        </div>
    </div>
</header>
<nav class="nav-profile">
    <div class="container">
        <div class="col-lg-8 col-lg-push-4 col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
            <ul class="profile-counters">
                <li><a href="#">{{ act_days }} <span>活跃天数</span></a></li>
                <li><a href="#">{{ remark_counts }} <span>评论数</span></a></li>
                <li><a href="#">148 <span>Tweets</span></a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

      {% block main %}
		<div class="clearfix"></div>
<div class="row">
        <div class="col-md-5">
            <h2 class="right-line">个人信息</h2>
            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-user"></i>介绍</div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>全名</th>
                            <td>{{ role.user.last_name }}{{ role.user.first_name }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td><a href="#">{{role.user.email}}</a></td>
                        </tr>
                        <tr>
                            <th>简介</th>
                            <td>{{role.intro}}</td>
                        </tr>
                    </tbody></table>
                </div>
            </section>
        </div>
        <div class="col-md-7">
            <h2 class="right-line">最新动态</h2>
            <ul class="timeline-2">
                {% for activity in activities %}
                <li class="wow fadeInRight animated" style="visibility: visible;">
                    <time class="timeline-time" datetime="">{{activity.publish_date|date:"m/d/y"}} <span>{{activity.publish_date|date:"m"}}月</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
						<div class="panel-heading"><i class="fa fa-comment-o"></i> {{ activities.0.title }}</a></div>
                        <div class="panel-body">
							<p>大大缩短开机速度的健康三季度打算速度所第三季度所 飞的撒房间看列第三风力可达所阿飞接口的撒娇分来打开三级阿法拉地洒落开发地洒落可。</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
                <!-- <li class="wow fadeInRight animated" style="visibility: visible;">
                    <time class="timeline-time" datetime="">10/1/2015 <span>1月</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
						<div class="panel-heading"><i class="fa fa-comment-o"></i> 评论了 文章<a href="#">ttewsdjsklafjd</a></div>
                        <div class="panel-body">
                            <p>大家快乐三级阿飞的撒房间看列第三风力可达所阿飞接口的撒娇分来打开三级阿法拉地洒落开发地洒落可。</p>
                        </div>
                    </div>
                </li>
                <li class="wow fadeInRight animated" style="visibility: visible;">
                    <time class="timeline-time" datetime="">12/6/2014 <span>12月</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
						<div class="panel-heading"><i class="fa fa-comment-o"></i> 评论了 产品<a href="#">Product A</a></div>
                        <div class="panel-body">
                            <p>sss</p>
                        </div>
                    </div>
                </li>
                <li class="wow fadeInRight animated" style="visibility: visible;">
                    <time class="timeline-time" datetime="">14/11/2012 <span>11月</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
						<div class="panel-heading"><i class="fa fa-comment-o"></i> 评论了 <a href="#">djsklafjd</a></div>
                        <div class="panel-body">
                            <p>大家快乐三级阿飞的撒房间看列第三风力可达所阿飞接口的撒娇分来打开三级阿法拉地洒落开发地洒落可。</p>
                        </div>
                    </div>
                </li>
                <li class="wow fadeInRight animated" style="visibility: visible;">
                    <time class="timeline-time" datetime="">11/11/2012 <span>11月</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-default">
						<div class="panel-heading"><i class="fa fa-comment-o"></i> 评论了 <a href="#">djsklafjd</a></div>
                        <div class="panel-body">
                            <p>大家快乐三级阿飞的撒房间看列第三风力可达所阿飞接口的撒娇分来打开三级阿法拉地洒落开发地洒落可。</p>
                        </div>
                    </div>
                </li> -->
                <!-- <li class="wow fadeInRight animated" style="visibility: visible;">
                    <time class="timeline-time" datetime="">31/5/2014 <span>May</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-picture-o"></i> Post an Image</div>
                        <div class="video">
                            <img src="../assets/img/demo/office2.jpg" alt="" width="100%" class="img-responsive">
                        </div>
                    </div>
                </li>
                <li class="wow fadeInRight animated" style="visibility: visible;">
                    <time class="timeline-time" datetime="">22/10/2012 <span>October</span></time>
                    <i class="timeline-2-point"></i>
                    <blockquote class="blockquote-color-bg-primary">
                        <p><i class="fa fa-quote-right"></i> <strong>Blockquote in timeline!</strong> consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </li>
                <li class="wow fadeInRight animated" style="visibility: visible;">
                    <time class="timeline-time" datetime="">29/7/2013 <span>July</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-success">
                        <div class="panel-heading">Success color in panel event</div>
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, illum aspernatur placeat eveniet ullam modi asperiores perspiciatis labore animi odio ea dicta consectetur similique. Soluta officiis facilis velit sunt rem.</p>
                        </div>
                    </div>
                </li>
                <li class="wow fadeInRight animated" style="visibility: visible;">
                    <time class="timeline-time" datetime="">15/8/2013 <span>August</span></time>
                    <i class="timeline-2-point"></i>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-video-camera"></i> Responsive video in timeline</div>
                        <div class="video">
                            <iframe src="http://player.vimeo.com/video/50061391?title=0&amp;byline=0&amp;portrait=0"></iframe>
                        </div>
                    </div>
				</li> -->
            </ul>
        </div>
    </div>
        {% endblock %}
