{% extends 'accounts/base_usercenter.html' %}
{% load staticfiles %}
{% block title %}{% if is_lawyer %}律师{% else %}用户{% endif %}中心 - {{ request.user.username }}{% endblock %}

{% block headextra %}
<script type="text/javascript">
  $(function () {
    select_nav("UserCenter");
  });
</script>
{% endblock %}
{% block head %}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">{% if is_lawyer %}律师{% else %}用户{% endif %}中心 - {{ request.user.username }}</h1>
    </div>
</header>
{% endblock %}
    {% block main_col %}
    <h1>something interesting~~:)</h1>
    {% endblock %}

<script type="text/javascript">
$document.ready(){
	$("#profile").removeClass("active");
	$("#"+getUrlParam("ids")).addClass("active");
}
</script>

