{% extends 'base.html' %}
{% block title %}{{ request.user }}的律师博客 - {{ article.title }}{% endblock %}
{% block main %}
<h1>{{ article.title }}</h1>
<a href="{% url 'blogs:index' article.author.id %}">返回博客主页</a>
<a href="{% url 'blogs:index_category' article.category.id %}">返回{{ article.category.name }}</a>
{% if is_master %}
<a href="{% url 'blogs:edit_article' article.id %}">编辑</a>
<a href="{% url 'blogs:delete_article' article.id %}">删除</a>
{% endif %}

<div>
	{{ article.text }}
</div>

<h2>评论</h2>
{% for comment in comments %}
<div>
 	<p> {{comment.user}} </p> 
 	<p> {{comment.text}} </p> 
 	<p> {{comment.publish_date}} </p> 
</div>
{% empty %}
<div>前没有评论。</div>
{% endfor %}
<form action="{% url 'blogs:new_comment' article.id %}" method="post" >
	{% csrf_token %}
	<textarea name="txt_comment"></textarea>
	<input type="submit"/>
</form>
{% endblock %}
