{% extends 'base.html' %}
{% load tagtools %}
{% load staticfiles %}
{% block headextra %}
<script type="text/javascript" src="{% static 'js/blogs-common.js' %}"></script>
{% endblock %}

{%block toolbar %}
{% if is_master %}
<li><a href="{% url 'blogs:new_article' %}" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-align-justify"></i>&nbsp;&nbsp;写新文章</a></li>
{{ block.super }}
{% endif %}
{% endblock %}

{% block head %}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">律师博客</h1>
        <ol class="breadcrumb pull-right">
        </ol>
    </div>
</header>
{% endblock %}

{% block main %}
<h1></h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-push-4">

        {% block contexts %}
        <div class="list-group animated fadeInLeft animation-delay-8">
            {% for article in articles %}
            <a class="list-group-item" href="{% url 'blogs:text' article.id %}">{{ article.title }}</a>
            {% empty %}
            <h4>目前没有文章。</h4>
            {% endfor %}
        </div>

        <section>
            <ul class="pagination animated fadeInLeft animation-delay-8">
                 {% if articles.has_previous %}
                 <li><a href="?{% query_assign request 'page' articles.previous_page_number %}">«</a></li>
                 {% else %}
                 <li class="disabled"><a href="#">«</a></li>
                 {% endif %}

                {% for i in articles.page_range %}
                {% if i == articles.number %}
                <li class="active"><a href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                <li><a href="?{% query_assign request 'page' i %}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if articles.has_next %}
                 <li><a href="?{% query_assign request 'page' articles.next_page_number %}">»</a></li>
                 {% else %}
                 <li class="disabled"><a href="#">»</a></li>
                 {% endif %}
            </ul>
        </section>
        {% endblock %}

        </div> <!-- col-md-8 -->
        <div class="col-md-4 col-md-pull-8">
            <aside class="sidebar">
                <div class="block animated fadeInDown animation-delay-12">
                <form id="frmSearch">
                    <div class="input-group">
                      <input name="q" type="text" placeholder="搜索..." class="form-control" value="{{query}}">
                      <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" style="height: 34px;" type="submit"><i class="fa fa-search no-margin-right"></i></button>
                      </span>
                    </div><!-- /input-group -->
                </form>
                </div>

                <div class="block animated fadeInDown animation-delay-10">
                    <ul class="nav nav-tabs nav-tabs-ar" id="myTab2">
                        <li class="active"><a href="#fav" data-toggle="tab"><i class="fa fa-star"></i></a></li>
                        <li><a href="#categories" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
                        <li><a href="#archive" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                        <li><a href="#tags" data-toggle="tab"><i class="fa fa-tags"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="fav">
                            <h3 class="post-title no-margin-top">热门文章</h3>
                            <ul id="favourite_posts" class="media-list">
                            {# see favourite_posts.mod.html #}{%comment%}
                                <!-- <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="{% static 'assets/img/demo/m2.jpg' %}" width="80" height="80" alt="image"></a>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Lorem ipsum dolor sit amet aut consectetur adipisicing elitl libero</a></p>
                                        <small>Sep, 28 2013</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="{% static 'assets/img/demo/m9.jpg' %}" width="80" height="80" alt="image"></a>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Lorem ipsum dolor sit amet in consectetur adipisicing</a></p>
                                        <small>Oct, 9 2013</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="{% static 'assets/img/demo/m12.jpg' %}" width="80" height="80" alt="image"></a>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Sit amet consectetur adipisicing elit incidunt minus</a></p>
                                        <small>Dec, 30 2013</small>
                                    </div>
                                </li> -->{%endcomment%}
                            </ul>
                        </div>
                        <div class="tab-pane" id="archive">
                             <h3 class="post-title no-margin-top">存档</h3>
                            <ul id="archives" class="simple">{# see archives.mod.html #}</ul>
                        </div>

                        <div class="tab-pane" id="categories">
                             <h3 class="post-title no-margin-top">
                             分类
                                {% if is_master %}
                                       <i class="fa fa-cogs cfg-btn" onclick="cfg_cats()" id="cfgBtn"></i>
                                {% endif %}
                             </h3>
                            <ul class="simple" id="all_cats">
                            {# see blogs/category.mod.html #}{%comment%}
                                <!-- <li><a href="#">Game Programming</a></li>
                                <li><a href="#">Artificial Intelligence</a>
                                    <ul>
                                        <li><a href="#">Artificial Life</a></li>
                                        <li><a href="#">Neural Networks</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Resources</a></li>
                                <li><a href="#">Web Developer</a></li> -->{%endcomment%}
                            </ul>
                            {% if is_master %}
                            <div id="add_cats" class="animated fadeInDown" style="display:none;">
                                     {% csrf_token %} {{ "blogs:categories"|transacserial }}
                                    <div class="input-group">
                                      <input type="text" id="txt" class="form-control" name="name" placeholder="input name here">
                                      <span class="input-group-addon" 
                                      onclick="$submit('#add_cats','{% url 'blogs:categories' %}',add_ctg)">
                                      <i class="fa fa-check cfg-button-reverse" ></i>
                                      </span>
                                    </div>
                            </div>
                            {% endif %}
                        </div>

                        <div class="tab-pane" id="tags">
                             <h3 class="post-title">标签</h3>
                            <div class="tags-cloud" id="tags_cloud">{# see blogs/tags.mod.html #}</div>
                        </div>
                    </div> <!-- tab-content -->
                </div>
{%comment%}
                <!-- <div class="panel panel-primary animated fadeInDown animation-delay-8">
                    <div class="panel-heading"><i class="fa fa-play-circle"></i>Featured video</div>
                    <div class="video">
                        <iframe src="http://player.vimeo.com/video/21081887?title=0&amp;byline=0&amp;portrait=0"></iframe>

                    </div>
                </div> -->
{%endcomment%}
                <div class="panel panel-primary animated fadeInDown animation-delay-6">
                    <div class="panel-heading"><i class="fa fa-comments"></i> 最新评论</div>
                    <div class="panel-body">
                        <ul id="recent_comments" class="comments-sidebar">
                        {# see blogs/recent_comments.mod.html #}{%comment%}
                            <!-- <li>
                                <img src="{% static 'assets/img/demo/client.jpg' %}" class="img-responsive" alt="Image">
                                <h4><a href="#">Fitzpatrick</a> in <a href="#">Lorem ipsum</a> 11 Jan. 2012</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atomus, appellat dedocendi omnes quoddam atomos.</p>
                            </li>
                            <li>
                                <img src="{% static 'assets/img/demo/client.jpg' %}" class="img-responsive" alt="Image">
                                <h4><a href="#">Fitzpatrick</a> in <a href="#">Lorem ipsum</a> 11 Jan. 2012</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atomus, appellat dedocendi omnes quoddam atomos.</p>
                            </li>
                            <li>
                                <img src="{% static 'assets/img/demo/client.jpg' %}" class="img-responsive" alt="Image">
                                <h4><a href="#">Fitzpatrick</a> in <a href="#">Lorem ipsum</a> 11 Jan. 2012</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atomus, appellat dedocendi omnes quoddam atomos.</p>
                            </li> -->{%endcomment%}
                        </ul>
                    </div>
                </div>
{%comment%}
                <!-- <div class="panel panel-primary animated fadeInDown animation-delay-4">
                    <div class="panel-heading"><i class="fa fa-align-left"></i> Widget Text</div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atomus, appellat dedocendi omnes quoddam atomos. Vestra. Corrupti sensum multa dissentiet uberius displicet medeam, efficiatur quaeque saluto sollicitare arbitraretur conectitur chaere, deorum consiliisque arbitrer doctrina nasci. Odia malis, scipio, libido. Iudico graviter seditione hoc. Venustate.</p>
                    </div>
                </div> -->
{%endcomment%}
            </aside> <!-- Sidebar -->
        </div>
    </div> <!-- row -->
</div>


    <li class="template" style="display:none;">
    <div id="cats_temp" >
    <a class="cats" href="{# {% url 'blogs:index_category' category.id %} #}">__________//</a>
    {% if is_master %}
    <i class="fa fa-pencil cfg-btn animated fadeInLeft " onclick="edit_ctg({# {{ category.id }} #})" style="display: none;"></i>
    <i class="fa fa-remove cfg-btn animated fadeInLeft " onclick="remove_ctg()" style="display: none;"></i>
    {% endif %}
    </div>
    {% if is_master %}
    <div id="cfg_cats"  style="display:none;">
            {% csrf_token %}
        <div class="input-group">
          <input type="text" class="form-control" name="name" placeholder="input name here">
          <span class="input-group-addon" onclick="$submit(['cfg_cats',{# {{ category.id }} #}],'{# {% url 'blogs:rename_category' category.id %} #}',cfg_ctg)">
          <i class="fa fa-check cfg-button-reverse"></i>
          </span>
        </div>
    {% endif %}
    </li>

{% if is_master %}
<script type="text/javascript">
function edit_ctg(index){
    $($id("cfg_cats",index)+" div input").attr("value",$($id("cats",index)+" a").text());
    $($id("cfg_cats",index)).show();
    $($id("cats",index)).hide();
}

function clone_ctg(data){
    var template = $(".template").clone();
    template.find("#cats_temp").attr("id",$id("cats",data.pk).slice(1))
    template.find("a.cats").attr("href",data.href);  //todo
    template.find("a.cats").text(data.name);
    template.find("a.cats").next().attr("onclick","edit_ctg("+data.pk+")");

    template.find(".fa-remove").attr("onclick",
                "$submit(['cfg_cats',"+data.pk+"],'"+data.del_href+"',del_ctg)");

    template.find("#cfg_cats div span").attr("onclick",
                "$submit(['cfg_cats',"+data.pk+"],'"+data.edit_href+"',cfg_ctg)");
    template.children("#cfg_cats").attr("id",$id("cfg_cats",data.pk).slice(1));
    template.removeClass("template");
    template.removeAttr("style");
    return template;
}

function cfg_ctg(pk,data,status){
    if (status!="success") {alert("failed");return;}
    alert(data.name);
    $($id("cats",pk)+" a").text(data.name);
    $($id("cats",pk)).show();
    $($id("cfg_cats",pk)).attr('style','display:none;');
}
function add_ctg(data,status){
    $('#all_cats li').last().after(clone_ctg(data));
    $('#add_cats div input').removeAttr("value");
    $($id("cfg_cats",data.pk)).attr('style','display:none;');
}

function del_ctg(pk,data,status){
    if (status!="success") {alert("failed");return;}

    $($id("cats",pk)).parents("li").remove();
}
function cfg_cats () {
    var cats=$('.cats');
    for(var i=0;i<cats.length;i++)
    {
        $(cats[i]).siblings().show();
        $('#cfgBtn').attr("onclick","finish_cfg()");
        $('#add_cats').show();
        // $('#all_cats').after("<div id="add_cats" style="visibility: hidden;">
        // <div class="input-group">
        //   <input type="text" class="form-control" placeholder="input name here">
        //   <span class="input-group-addon" onclick="create_ctg()">
        //   <i class="fa fa-check cfg-button-reverse" onclick="create_ctg()"></i>
        //   </span>
        // </div>
        // </div>");
    }
}
function finish_cfg () {
    var cats=$('.cats');
    for(var i=0;i<cats.length;i++)
    {
        $(cats[i]).siblings().hide();
        $('#cfgBtn').attr("onclick","cfg_cats()");
        $('#add_cats').hide();
    }
}
</script>
 {% endif %}
{% endblock %}
