{% extends 'base.html' %}
{% block title %}xxx的律师博客 - {{ article.title }}{% endblock %}
{% block main %}
<h1>Blog Text</h1>

<h2>{{ article.title }}</h2>
<div>
	{{ article.text }}
</div>

<h2>Comments</h2>
{% for comment in comments %}
<div>
 	<p> {{comment.user}} </p> 
 	<p> {{comment.text}} </p> 
 	<p> {{comment.publish_date}} </p> 
</div>
{% endfor %}
<form action="{% url 'blogs:new_comment' article.id %}" method="post" >
	{% csrf_token %}
	<textarea name="txt_comment"></textarea>
	<input type="submit"/>
</form>
{% endblock %}
