{% extends 'blogs/blog_base.html' %}
{% block title %}律师博客 - {{ category.lawyer.user.username }} {% endblock %}
{% block headextra %}
{{ block.super }}
<script type="text/javascript">
  $(function () {
    page_title("{{ category.name }} - 文章列表");
    breadcrumb("主页","{% url 'blogs:index' category.lawyer.id %}");
    breadcrumb("{{ category.name }}","#");
    load_categories("{% url 'blogs:categories_mod' category.lawyer.id %}?e={{is_master}}");
  });
</script>
{% endblock %}

{% block category_items %}
{% with categories=category.lawyer.blogcategory_set.get_public_categories %}
{% include 'blogs/index_category.mod.html' %}
{% endwith %}
{% endblock %}

{% block contexts %}
<div class="list-group animated fadeInLeft animation-delay-8">
    {% for article in articles %}
    <a class="list-group-item" href="{% url 'blogs:text' article.id %}">{{ article.title }}</a>
    {% empty %}
    <h4>目前没有文章。</h4>
    {% endfor %}
</div>

<section>
    <ul class="pagination animated fadeInLeft animation-delay-8">
         {% if articles.has_previous %}
         <li><a href="?page={{ articles.previous_page_number }}">«</a></li>
         {% else %}
         <li class="disabled"><a href="#">«</a></li>
         {% endif %}

        {% for i in articles.page_range %}
        {% if i == articles.number %}
        <li class="active"><a href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if articles.has_next %}
         <li><a href="?page={{ articles.next_page_number }}">»</a></li>
         {% else %}
         <li class="disabled"><a href="#">»</a></li>
         {% endif %}
    </ul>
</section>
{% endblock %}
