{% extends 'blogs/blog_base.html' %}
{% load transacserial %}
{% block title %}律师博客 - {{ lawyer.user.username }}{% endblock %}

{% block headextra %}
{{ block.super }}
<script type="text/javascript">
  $(function () {
    page_title("律师博客 - {{ lawyer.user.username }}");
    load_categories("{% url 'blogs:categories_mod' lawyer.id %}?e={{is_master}}");
  });
</script>
{% endblock %}

{% block category_items %}
{% with categories=lawyer.blogcategory_set.get_public_categories %}
{% include 'blogs/index_category.mod.html' %}
{% endwith %}
{% endblock %}

{% block contexts %}
{% for article in articles %}
<article class="post animated fadeInLeft animation-delay-8">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 class="post-title"><a href="{% url 'blogs:text' article.id %}" class="transicion">{{ article.title }}</a></h3>
            <div class="row">
                <div class="col-lg-6">
                    <img src="../assets/img/demo/7.jpg" class="img-post img-responsive" alt="Image">
                </div>
                <div class="col-lg-6 post-content">
                    <p>{{ article.text|truncatewords_html:60 }}</p>
                </div>
            </div>
        </div>
        <div class="panel-footer post-info-b">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-sm-8">
                    <i class="fa fa-clock-o"></i>{{article.publish_date}} <i class="fa fa-user"> </i>{{article.author}} <i class="fa fa-folder-open"></i> <a href="{% url 'blogs:index_category' article.category.id %}">{{article.category}}</a>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4">
                    <a href="{% url 'blogs:text' article.id %}" class="pull-right">Read more »</a>
                </div>
            </div>
        </div>
    </div>
</article> <!-- post -->
{% empty %}
<li>目前没有文章。</li>
{% endfor %}

<section>
    <ul class="pagination animated fadeInLeft animation-delay-8">
         {% if articles.has_previous %}
         <li><a href="?page={{ articles.previous_page_number }}">«</a></li>
         {% else %}
         <li class="disabled"><a href="#">«</a></li>
         {% endif %}

        {% for i in  articles.page_range %}
        {% if i == articles.number %}
        <li class="active"><a href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if articles.has_next %}
         <li><a href="?page={{ articles.next_page_number }}">»</a></li>
         {% else %}
         <li class="disabled"><a href="#">»</a></li>
         {% endif %}
    </ul>
</section>
 {% endblock %}

