{% extends 'base.html' %}
{% block title %}律师博客 - {{ request.user }}{% endblock %}
{% block main %}

<h1>律师博客 - {{ request.user }} - {{ category.name }}</h1>
{% if is_master %}
<a href="{% url 'blogs:index' category.user.id %}">返回博客主页</a>
<a href="{% url 'blogs:new_article' %}">写新文章</a>
{% endif %}

{% if latest_blogs_list %}
<ul>
{% for article in latest_blogs_list %}
	<li><a href="{% url 'blogs:text' article.id %}">{{ article.title }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>目前没有文章。</p>
{% endif %}

{% endblock %}
