{% extends 'base.html' %}
{% block title %}律师博客 - {{ lawyer.user.username }}{% endblock %}

{% block head %}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">律师博客 - {{ lawyer.user.username }}</h1>

		{% if is_master %}
        <ol class="breadcrumb pull-right">
			<li><a href="{% url 'blogs:new_article' %}">写新文章</a></li>
		</ol>
		{% endif %}
    </div>
</header>
{% endblock %}

{% block blogs %}class="active"{% endblock %}
{% block main %}

<h1></h1>



<!-- <div>
	{% if latest_blogs_list.has_previous %}<a href="?page={{ latest_blogs_list.previous_page_number }}">previous</a>{% endif %}
	<span>Page {{ latest_blogs_list.number }} of {{ latest_blogs_list.paginator.num_pages }}.</span>
	{% if latest_blogs_list.has_next %}<a href="?page={{ latest_blogs_list.next_page_number }}">next</a>
	{% endif %}
</div> -->





<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-push-4">
        {% block contexts %}
        {% for article in latest_blogs_list %}
            <article class="post animated fadeInLeft animation-delay-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="post-title"><a href="{% url 'blogs:text' article.id %}" class="transicion">{{ article.title }}</a></h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="../assets/img/demo/7.jpg" class="img-post img-responsive" alt="Image">
                            </div>
                            <div class="col-lg-6 post-content">
                                <p>{{ article.description }}</p>

                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt voluptas sit aspernatur.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer post-info-b">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8">
                                <i class="fa fa-clock-o"></i> Sep 29, 2013 <i class="fa fa-user"> </i>Patrick <i class="fa fa-folder-open"></i> <a href="#">Portfolio</a>, <a href="#">Design</a>.
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4">
                                <a href="#" class="pull-right">Read more »</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article> <!-- post -->
		{% empty %}
			<li>目前没有文章。</li>
		{% endfor %}
            <section>
                <ul class="pagination animated fadeInLeft animation-delay-8">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </section>
         {% endblock %}
        </div> <!-- col-md-8 -->
        <div class="col-md-4 col-md-pull-8">
            <aside class="sidebar">
                <div class="block animated fadeInDown animation-delay-12">
                    <div class="input-group">
                      <input type="text" placeholder="Search..." class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-ar btn-primary" type="button"><i class="fa fa-search no-margin-right"></i></button>
                      </span>
                    </div><!-- /input-group -->
                </div>

                <div class="block animated fadeInDown animation-delay-10">
                    <ul class="nav nav-tabs nav-tabs-ar" id="myTab2">
                        <li class="active"><a href="#fav" data-toggle="tab"><i class="fa fa-star"></i></a></li>
                        <li><a href="#categories" data-toggle="tab"><i class="fa fa-folder-open"></i></a></li>
                        <li><a href="#archive" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                        <li><a href="#tags" data-toggle="tab"><i class="fa fa-tags"></i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="fav">
                            <h3 class="post-title no-margin-top">Favorite Post</h3>
                            <ul class="media-list">
                                <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="../assets/img/demo/m2.jpg" width="80" height="80" alt="image"></a>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Lorem ipsum dolor sit amet aut consectetur adipisicing elitl libero</a></p>
                                        <small>Sep, 28 2013</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="../assets/img/demo/m9.jpg" width="80" height="80" alt="image"></a>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Lorem ipsum dolor sit amet in consectetur adipisicing</a></p>
                                        <small>Oct, 9 2013</small>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="#"><img class="media-object" src="../assets/img/demo/m12.jpg" width="80" height="80" alt="image"></a>
                                    <div class="media-body">
                                        <p class="media-heading"><a href="#">Sit amet consectetur adipisicing elit incidunt minus</a></p>
                                        <small>Dec, 30 2013</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="archive">
                             <h3 class="post-title no-margin-top">Archives</h3>
                            <ul class="simple">
                                <li><a href="#">December 2012</a></li>
                                <li><a href="#">January 2013</a></li>
                                <li><a href="#">February 2013</a></li>
                                <li><a href="#">March 2013</a></li>
                                <li><a href="#">April 2013</a></li>
                            </ul>
                        </div>

                        <div class="tab-pane" id="categories">
                             <h3 class="post-title no-margin-top">
                             Categories
                                {% if is_master %}
                                       <i class="fa fa-cog cfg-btn" onclick="cfg_cats()" id="cfgBtn"></i>
                                {% endif %}
                             </h3>
                            <ul class="simple" id="all_cats">
                            {% for category in categories %}
								<li>
                                <a id="cats" href="{% url 'blogs:index_category' lawyer.id category.id %}">{{ category.name }}</a>
                                <i class="fa fa-pencil cfg-btn animated fadeInLeft " action="edit_ctg()" style="visibility: hidden;"></i>
                                <i class="fa fa-remove cfg-btn animated fadeInLeft " action="remove_ctg()" style="visibility: hidden;"></i>
                                </li>
							{% empty %}
								<li>目前没有分类。</li>
							{% endfor %}
                                <!-- <li><a href="#">Game Programming</a></li>
                                <li><a href="#">Artificial Intelligence</a>
                                    <ul>
                                        <li><a href="#">Artificial Life</a></li>
                                        <li><a href="#">Neural Networks</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Resources</a></li>
                                <li><a href="#">Web Developer</a></li> -->
                            </ul>
                        </div>

                        <div class="tab-pane" id="tags">
                             <h3 class="post-title">Tags</h3>
                            <div class="tags-cloud">
                                <a href="#" class="tag">Web</a>
                                <a href="#" class="tag">Artificial Intelligence</a>
                                <a href="#" class="tag">Programing</a>
                                <a href="#" class="tag">Design</a>
                                <a href="#" class="tag">3D</a>
                                <a href="#" class="tag">Games</a>
                                <a href="#" class="tag">Resources</a>
                                <a href="#" class="tag">2D</a>
                                <a href="#" class="tag">C++</a>
                                <a href="#" class="tag">Jquery</a>
                                <a href="#" class="tag">Javascript</a>
                                <a href="#" class="tag">Library</a>
                                <a href="#" class="tag">Windows</a>
                                <a href="#" class="tag">Linux</a>
                                <a href="#" class="tag">Cloud</a>
                                <a href="#" class="tag">Game developer</a>
                                <a href="#" class="tag">Server</a>
                                <a href="#" class="tag">Google</a>
                                <a href="#" class="tag">Bootstrap</a>
                                <a href="#" class="tag">Less</a>
                                <a href="#" class="tag">Sass</a>
                                <a href="#" class="tag">Engine</a>
                                <a href="#" class="tag">Node.js</a>
                            </div>
                        </div>
                    </div> <!-- tab-content -->
                </div>

                <div class="panel panel-primary animated fadeInDown animation-delay-8">
                    <div class="panel-heading"><i class="fa fa-play-circle"></i>Featured video</div>
                    <div class="video">
                        <iframe src="http://player.vimeo.com/video/21081887?title=0&amp;byline=0&amp;portrait=0"></iframe>

                    </div>
                </div>

                <div class="panel panel-primary animated fadeInDown animation-delay-6">
                    <div class="panel-heading"><i class="fa fa-comments"></i> Recent Comments</div>
                    <div class="panel-body">
                        <ul class="comments-sidebar">
                            <li>
                                <img src="../assets/img/demo/client.jpg" class="img-responsive" alt="Image">
                                <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                            </li>
                            <li>
                                <img src="../assets/img/demo/client2.jpg" class="img-responsive" alt="Image">
                                <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                            </li>
                            <li>
                                <img src="../assets/img/demo/client6.jpg" class="img-responsive" alt="Image">
                                <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                            </li>
                            <li>
                                <img src="../assets/img/demo/client4.jpg" class="img-responsive" alt="Image">
                                <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                            </li>
                            <li>
                                <img src="../assets/img/demo/client5.jpg" class="img-responsive" alt="Image">
                                <h4><a href="#">Andrew</a> in <a href="#">Lorem ipsum Fugiat elit occaecat aute nisi</a></h4>
                                <p>Lorem ipsum Occaecat ut esse amet ut eiusmod laborum cillum voluptate do laboris dolor ut elit aliquip velit ut nulla anim ...</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-primary animated fadeInDown animation-delay-4">
                    <div class="panel-heading"><i class="fa fa-align-left"></i> Widget Text</div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atomus, appellat dedocendi omnes quoddam atomos. Vestra. Corrupti sensum multa dissentiet uberius displicet medeam, efficiatur quaeque saluto sollicitare arbitraretur conectitur chaere, deorum consiliisque arbitrer doctrina nasci. Odia malis, scipio, libido. Iudico graviter seditione hoc. Venustate.</p>
                    </div>
                </div>

            </aside> <!-- Sidebar -->
        </div>
    </div> <!-- row -->
</div>
<script type="text/javascript">
function cfg_cats () {
    var cats=$('#cats');
    for(var i=0;i<cats.length;i++)
    {
        $(cats[i]).siblings().css("visibility","visible");
        $('#cfgBtn').attr("onclick","finish_cfg()");
        // $('#all_cats').after("<div id="add_cats" style="visibility: hidden;">
        // <div class="input-group">
        //   <input type="text" class="form-control" placeholder="input name here">
        //   <span class="input-group-addon" onclick="create_ctg()">
        //   <i class="fa fa-check cfg-button-reverse" onclick="create_ctg()"></i>
        //   </span>
        // </div>
        // </div>");
    }
}
function finish_cfg () {
    var cats=$('#cats');
    for(var i=0;i<cats.length;i++)
    {
        $(cats[i]).siblings().css("visibility","hidden");
        $('#cfgBtn').attr("onclick","cfg_cats()");
        
    }
}
</script>>
{% endblock %}
