{% extends 'blogs/index.html' %}
{% block title %}律师博客 - {{ lawyer.user.username }}{% endblock %}
{% block head %}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">律师博客 -{{ lawyer.user.username }}</h1>

		
        <ol class="breadcrumb pull-right">
        	<li><a href="{% url 'blogs:index' category.lawyer.id %}">主页</a></li>
        	<li><a href="#">{{ category.name }}</a></li>
		</ol>



    </div>
</header>
{% endblock %}
{% block contexts %}

{% if is_master %}
<a href="{% url 'blogs:index' category.lawyer.id %}">返回博客主页</a>
<a href="{% url 'blogs:new_article' %}">写新文章</a>
{% endif %}

<ul>
{% for article in latest_blogs_list %}
	<li><a href="{% url 'blogs:text' article.id %}">{{ article.title }}</a></li>
{% empty %}
	<li>目前没有文章。</li>
{% endfor %}
</ul>

<div>
	{% if latest_blogs_list.has_previous %}<a href="?page={{ latest_blogs_list.previous_page_number }}">previous</a>{% endif %}
	<span>Page {{ latest_blogs_list.number }} of {{ latest_blogs_list.paginator.num_pages }}.</span>
	{% if latest_blogs_list.has_next %}<a href="?page={{ latest_blogs_list.next_page_number }}">next</a>
	{% endif %}
</div>

{% endblock %}
