<!--main session-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-logo animated fadeInDown animation-delay-5">著作权<span>登记</span></div>
            <p class="slogan text-center margin-bottom">著作权登记基本流程：<br> 阅读相关文件→在线填表打印→申请表签字盖章→附上证明文件+邮寄/到大厅办理
            <br><i class="fa fa-5x fa-connectdevelop" style="margin-top: 30px;"></i></p>

        </div>
    </div> <!-- row -->

    <section class="margin-bottom">
        <p class="lead lead-lg text-center primary-color margin-bottom">计算机软件著作权登记</p>
       <div class="row">
            <div class="col-md-6">
                <h2 class="no-margin-top">软件著作权登记办理步骤</h2>
                <ol class="service-list list-unstyled">
                    <li class="wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;"><strong>填写申请表:</strong>在中心网站上，首先进行用户注册，然后用户登陆，在线按要求填写申请表后，确认、提交并打印。</li>
                    <li class="wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;"><strong>提交申请文件:</strong>
                    申请人或代理人按照要求提交登记申请文件。</li>
                    <li class="wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;"><strong>缴纳申请费:</strong>申请文件符合受理要求时，软件登记机构发出缴费通知，申请人或代理人按照通知要求缴纳费用。</li>
                    <li class="wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;"><strong>登记机构受理申请:</strong>申请文件符合受理要求并缴纳申请费的，登记机构在规定的期限内予以受理，并向申请人或代理人发出   受理通知书及缴费票据。</li>
                    <li class="wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;"><strong>补正程序:</strong>根据计算机软件登记办法规定，申请文件存在缺陷的，申请人或代理人应自发出补正通知之日起，30个工作日提交补正材料，逾期未补正的，视为撤回申请；经补正仍不符合《计算机软件著作权登记办法》第二十一条有关规定的，登记机构将不予登记并书面通知申请人或代理人。</li>
                </ol>
            </div>
            <div class="col-md-6">
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                          <i class="fa fa-lightbulb-o"></i> 什么是计算机软件？
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                        <p>计算机软件是指计算机程序及其有关文档。计算机程序是指能实现一定功能的代码化指令序列，或者符号化语句序列。文档指用来描述程序的内容、组成、设计、功能规格、开发情况、测试结果及使用方法的文字资料和图表，如程序设计说明书、流程图、用户手册等。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                          <i class="fa fa-lightbulb-o"></i> 软件著作权保护期限是多长？
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>自然人的软件著作权，保护期为自然人终生及其死亡后50年；软件是合作开发的，截止于最后死亡的自然人死亡后第50年的12月31日。法人或者其他组织的软件著作权，保护期为软件首次发表之后50年，但软件自开发完成之日起50年内未发表的，不再保护。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                          <i class="fa fa-lightbulb-o"></i> 哪些人可以成为软件著作权人？
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>独立开发完成软件的自然人、法人或其他组织以及通过合同约定、继承、受让或者承受软件著作权的自然人、法人或者其他组织都可以成为著作权人。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                          <i class="fa fa-lightbulb-o"></i> 软件著作权可以保护软件的思想、算法和技术方案吗？
                        </a>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>软件著作权保护的范围是程序及其技术文档的表达，即保护语句序列或指令序列的表达以及有关软件的文字说明表达，而不延及开发软件所用的思想、处理过程、操作方法或者数学概念等。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                          <i class="fa fa-lightbulb-o"></i> 什么是软件开发者？
                        </a>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>是指实际组织开发、直接进行开发，并对开发完成的 软件承担责任的法人或者其他组织；或者依靠自己具有的条件独立完成软件开发，并对软件承担责任的自然人。</p>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <div class="panel-heading panel-heading-link">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                          <i class="fa fa-lightbulb-o"></i> 合作开发的软件著作权怎么归属？
                        </a>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse">
                      <div class="panel-body">
                        <p>由两个以上的自然人、法人或者其他组织合作开发的软件，其著作权的归属由合作开发者签订书面合同约定。</p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
       </div>
   </section>
</div>


<div class="container">

<section class="section-lines">
        <div class="row" style="margin: 40px 40px 0 40px;">
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-rocket"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">5分钟快速响应</h3>
                        <p>下单五分钟内，立即与您联系。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-user"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">一对一专人服务</h3>
                        <p>分配一名服务专员, 一对一提供服务。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">流程节点，及时提醒</h3>
                        <p>流程中每个节点,会有短信邮件及时提醒。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-mail-forward"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">顺丰快递，安全送达</h3>
                        <p>注册完成后，所有材料精心包装，通过顺丰快递送达。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-compress"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">5分钟快速响应</h3>
                        <p>下单五分钟内，立即与您联系。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="text-icon wow animated fadeInUp" style="visibility: visible; -webkit-animation: fadeInUp;">
                    <span class="icon-ar icon-ar-lg"><i class="fa fa-phone"></i></span>
                    <div class="text-icon-content">
                        <h3 class="no-margin">售前咨询</h3>
                        <p>有任何疑问, 可通过在线咨询, 或直接拨打电话即与我们联系。</p>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </section>
</div>

