<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}
{% block headextra %}
<script type="text/javascript">
  $(function () {
    select_nav("Home");
  });
</script>
{% endblock %}

 {% block head %}
     <!-- <header id="header-full-plan">
        <div class="wrap-primary-plan" style="min-height: 824px;">
            <div class="wrap-pointers" style="min-height: 824px;">
                <div class="container">
                    <div id="primary-plan">
                        <img src="{% static 'assets/img/logo_big_white.png' %}" alt="logo" class="aligncenter head-full-logo animated bounceIn animation-delay-5">
                        <h1 class="animated fadeInDown animation-delay-3">Lorem ipsum dolor sit amet, consectetur.</h1>
                        <p class="lead lead-lg animated fadeInDown animation-delay-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nam, et distinctio omnis quidem ratione accusantium non molestiae sint dolorem.</p>
                    </div>
                    <div id="subscribe-plan" class="animated bounceInLeft animation-delay-9">
                        <p class="lead lead-lg">Lorem ipsum dolor sit.</p>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="Subscribe email...">
                          <span class="input-group-btn">
                            <button class="btn btn-plan" type="button">lorem</button>
                          </span>
                        </div>/input-group
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-5">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i class="fa fa-html5"></i></span>
                                <h5 class="content-box-title">HTML 5</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i class="fa fa-css3"></i></span>
                                <h5 class="content-box-title">CSS 3 &amp; Less</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i class="fa fa-codepen"></i></span>
                                <h5 class="content-box-title">Javascript &amp; Jquery</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-5">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i class="fa fa-wordpress"></i></span>
                                <h5 class="content-box-title">Wordpress is coming</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         </header>  -->
    <header id="header-full">
    <div class="wrap-primary" style="min-height: 672px;">
        <div class="container">
            <h1 class="head-title animated bounceInDown animation-delay-8">律橙法务</h1>
            <h1 class="text-center secondary-color text-center head-subtitle animated fadeInUp animation-delay-12"><i class="fa fa-diamond fa-4x"></i></h1>
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">提供一站式法律服务</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">超大规模律师团队,专业,高效 便捷,为您服务</p>
            <div class="row header-full-icons text-center">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <a href="#"><span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-html5"></i></span></a>
                    <h3>公司注册</h3>
                    <p class="text-center">注册公司?三步搞定!</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-20">
                    <a href="#"><span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-css3"></i></span></a>
                    <h3>专利申请</h3>
                    <p class="text-center">24x7小时专人服务</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21" >
                    <a href="#"><span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-bold"></i></span></a>
                    <h3>法律问答</h3>
                    <p class="text-center">社交式问答,强大律师团队</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <a href="#"><span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-desktop"></i></span></a>
                    <h3>自动合同</h3>
                    <p class="text-center">全套合同, 一次全生成!</p>
                </div>
            </div>
        </div>
    </div>
</header>
    <section class="wrap-dark-color margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7 feature-container">
                    <a class="feature-icon">
                        <i class="fa fa-desktop"></i>
                        <h4>即时</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-download"></i>
                        <h4> 便捷 </h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-cloud"></i>
                        <h4>快速</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-html5"></i>
                        <h4>可靠</h4>
                    </a>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs">
                    <p class="lead text-center">您值得信赖的法律管家</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



    <div class="container">
      <!-- Example row of columns -->
      {% block main %}
      <div class="row">
        <div class="col-md-4">
          <h2>法律产品</h2>
          <p>而污染物饿啊额无人阿尔法违法为个人认为武器为员工和费用开发与土地和特色人士身份个人色日光人生让切尔阿违法惹事少让她让娃儿无法色人士身份个人色日光人生让切尔法违法为个人认为武器为员工和费用开发与土地和特色人士身份个人色日光人生让切尔阿违身份个人色日光人生让切尔法违法为个人认为武器为员工和费用开发与土地和特色人士身份</p>
          <p><a class="btn btn-default" href="#" role="button">查看详情 »</a></p>
        </div>
        <div class="col-md-4">
          <h2>律师咨询</h2>
          <p>而污染物饿啊额无人阿尔法违法为个人认为武器为员工和费用开发与土地和特色人士身份个人色日光人生让切尔阿违法惹事少让她让娃儿无法色人士身份个人色日光人生让切尔法违法为个人认为武器为员工和费用开发与土地和特色人士身份个人色日光人生让切尔阿违身份个人色日光人生让切尔法违法为个人认为武器为员工和费用开发与土地和特色人士身份</p>
          <p><a class="btn btn-default" href="#" role="button">查看详情 »</a></p>
       </div>
        <div class="col-md-4">
          <h2>自动合同</h2>
          <p>而污染物饿啊额无人阿尔法违法为个人认为武器为员工和费用开发与土地和特色人士身份个人色日光人生让切尔阿违法惹事少让她让娃儿无法色人士身份个人色日光人生让切尔法违法为个人认为武器为员工和费用开发与土地和特色人士身份个人色日光人生让切尔阿违身份个人色日光人生让切尔法违法为个人认为武器为员工和费用开发与土地和特色人士身份</p>
          <p><a class="btn btn-default" href="#" role="button">查看详情 »</a></p>
        </div>
      </div>
  </div>
        {% endblock %}