<!DOCTYPE HTML>
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Index{% endblock %}
{% block headextra %}
<script type="text/javascript">
  $(function () {
    select_nav("Home");
  });
</script>
{% endblock %}

 {% block head %}
     <!-- <header id="header-full-plan">
        <div class="wrap-primary-plan" style="min-height: 824px;">
            <div class="wrap-pointers" style="min-height: 824px;">
                <div class="container">
                    <div id="primary-plan">
                        <img src="{% static 'assets/img/logo_big_white.png' %}" alt="logo" class="aligncenter head-full-logo animated bounceIn animation-delay-5">
                        <h1 class="animated fadeInDown animation-delay-3">Lorem ipsum dolor sit amet, consectetur.</h1>
                        <p class="lead lead-lg animated fadeInDown animation-delay-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit nam, et distinctio omnis quidem ratione accusantium non molestiae sint dolorem.</p>
                    </div>
                    <div id="subscribe-plan" class="animated bounceInLeft animation-delay-9">
                        <p class="lead lead-lg">Lorem ipsum dolor sit.</p>
                        <div class="input-group">
                          <input type="email" class="form-control" placeholder="Subscribe email...">
                          <span class="input-group-btn">
                            <button class="btn btn-plan" type="button">lorem</button>
                          </span>
                        </div>/input-group
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-5">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i class="fa fa-html5"></i></span>
                                <h5 class="content-box-title">HTML 5</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i class="fa fa-css3"></i></span>
                                <h5 class="content-box-title">CSS 3 &amp; Less</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i class="fa fa-codepen"></i></span>
                                <h5 class="content-box-title">Javascript &amp; Jquery</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-5">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i class="fa fa-wordpress"></i></span>
                                <h5 class="content-box-title">Wordpress is coming</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         </header>  -->
    <header id="header-full">
    <div class="wrap-primary" style="min-height: 672px;">
        <div class="container">
            <h1 class="head-title animated bounceInDown animation-delay-8">artificial reason</h1>
            <img src="{% static 'assets/img/logo_raw_white.png' %}" alt="" class="aligncenter head-full-logo animated bounceIn animation-delay-5">
            <h2 class="secondary-color text-center head-subtitle animated fadeInUp animation-delay-14">connect to the artificial revolution</h2>
            <p class="lead text-center animated fadeInUp animation-delay-14">We bring the revolution to the web design, our principles are experience, knowledge and creativity. Discover all that can offer artificial reason.</p>
            <div class="row header-full-icons text-center">
                <div class="col-sm-3 animated fadeInDown animation-delay-19">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-html5"></i></span>
                    <h3>HTML 5</h3>
                    <p class="text-center">Illo quas ab, aut quasi vitae nam ipsum totam aspernatur.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-21">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-css3"></i></span>
                    <h3>CSS 3</h3>
                    <p class="text-center">Culpa, excepturi ipsa, aut reiciendis maiores deserunt.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-22">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-bold"></i></span>
                    <h3>Bootstrap 3</h3>
                    <p class="text-center">Blanditiis consequatur minima voluptatibus ducimus tempore.</p>
                </div>
                <div class="col-sm-3 animated fadeInDown animation-delay-20">
                    <span class="icon-ar icon-ar-circle icon-ar-xl-lg icon-ar-white icon-ar-inverse"><i class="fa fa-desktop"></i></span>
                    <h3>Responsive</h3>
                    <p class="text-center">Eius culpa eligendi autem odio nisi dignissimos sapiente.</p>
                </div>
            </div>
        </div>
    </div>
</header>
    <section class="wrap-dark-color margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7 feature-container">
                    <a class="feature-icon">
                        <i class="fa fa-desktop"></i>
                        <h4>Retina</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-download"></i>
                        <h4>Downloads</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-cloud"></i>
                        <h4>Cloud</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-html5"></i>
                        <h4>HTML 5</h4>
                    </a>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs">
                    <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>
    {% endblock %}

      
    <div class="container">
      <!-- Example row of columns -->
      {% block main %}
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>
        {% endblock %}