{% load tagtools %}
<nav class="navbar navbar-static-top navbar-default navbar-header-full navbar-dark" role="navigation" id="header">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">律橙 <span>法律服务</span></a>
    </div>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
            <li id="nav_li_Home"><a href="{% url 'index:index' %}">首页</a></li>
            <li id="nav_li_Product"><a href="{% url 'products:index' %}">产品</a></li>
            <li id="nav_li_LawyerList"><a href="{% url 'accounts:lawyerlist' %}">律师</a></li>
            <li id="nav_li_QuestionList"><a href="{% url 'questions:index' %}">问答</a></li>
              {% if is_lawyer %}
              <li id="nav_li_Blog">
              <a href="{% url 'blogs:home' %}" >博客</a></li>
              {% endif %}
              <li id="nav_li_smartcontract"><a href="{% url 'smartcontract:index' %}">智能合同</a></li>
          </ul>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'accounts:logout' %}">安全退出</a></li>
        <li id="nav_li_UserCenter"><a href="{% url 'accounts:usercenter' %}" ><i class="fa fa-user"></i><strong>{{ user.username }}</strong>用户中心</a></li>
        <!-- <li class="dropdown">
          <a href="{% url 'accounts:usercenter' %}" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}'s center</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul> -->
        </li>
      </ul>

    {% else %}
            <form id="for1" class="navbar-form navbar-right"
     action="/accounts/login/?next={{ request.path|urlencode:"" }}%3F{{ request.META.QUERY_STRING|urlencode:"" }}" method="post" >
      {% csrf_token %} {{ "login"|transacserial }}
                <div class="form-group">
                  <input type="text" name="username" placeholder="username" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                <button type="button" class="btn btn-ar btn-success" id="login" onclick="rsalogin()">登录</button>
            <a href="{% url 'accounts:login' %}#register" class="btn btn-ar btn-primary">注册</a>
            </form>
    {% endif %}
    </div>
    <script type="text/javascript">
        function rsalogin()
        {
          var r = $fetch("#for1");
          r.password=encrypt(r.password);
          $.post("{% url 'accounts:login' %}",r,
          function  (data,status) {
            if(status=="success")
              if(data.r=="success")
                    window.location.reload();
              else
                alert("用户名密码错误！");
          });
        }
    </script>
    </div><!--/.navbar-collapse -->
</nav>
<!-- <div style="margin-bottom:151px"></div> -->
