<div class="modal fade modal-md" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body"><p>Content</p></div>
      <div class="modal-footer"></div>
    </div>
  </div>
  <script type="text/javascript">
    function append_button (b) { // closure: mod, callback
      $(mod).find(".modal-footer").append('<button type="button" class="btn btn-ar" data-dismiss="modal"></button>');
      var btn=$(mod).find(".modal-footer button").last();
      $(btn).addClass(b.style);
      $(btn).text(b.text);
      if(b.submit) $(btn).click(function(){ callback($fetch(mod)); });
      else $(btn).click(function(){ callback(b.text); });
    }
  </script>
</div>
