<h1>Products</h1>

<h1>{{ product.question_text }}</h1>
<div>
	<p>Name: <span>{{ product.name }}</span></p>

	<p>Description: {{ product.description }} </p>
	<p>Price: {{ product.price }}</p>
</div>

<h2>Comments</h2>

{% for comment in products_comments %}
<div>
 	<p> {{comment.client}} </p> 
 	<p> {{comment.comment}} </p> 
 	<p> {{comment.publish_date}} </p> 
</div>
{% endfor %}

<form action="{% url 'products:new_comment' product.id %}" method="post" >
	{% csrf_token %}
	<textarea name="txt_comment"></textarea>
	<input type="submit"/>
</form>