{% extends 'base.html' %}
{% block title %}
Product detail -- {{ product.name }}
{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
    	<div class="row">
    		<div class="col-xs-8">
    			<h1>Name: <span>{{ product.name }}</span></h1>
				<p>Description: {{ product.description }} </p>
			</div>
    		<div class="col-xs-4">
    		<h1> </h1>
    		<h2 class="text-right"><span class="label label-warning">￥{{ product.price }}</span></h2>	
    		</div>
    	</div>
	
	</div>

</div>

{% if user.is_authenticated %}
{% if is_client %}
<input type="button" name="order" value="订购" onclick="new_order()" />

<script type="text/javascript">
function new_order()
{
	if(confirm("确认订购"))
	{
		  $.post("{% url 'products:new_order' product.id }",
			  {
				text:"xxx", 
				csrfmiddlewaretoken:$.cookie('csrftoken')
			  },
			  function(data,status){
				window.location.reload();
			  });
	}
	else
	{
		
	}

}
</script>
{% endif %}
{% else %}
<li><a href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">{{ "订购请登录" }}</a></li>
{% endif %}

{% endblock %}

{% block main%}


<h2>Comments</h2>

{% for comment in products_comments %}
<div>
	<p> {{comment.user}} </p> 
	<p> {{comment.text}} </p> 
	<p> {{comment.publish_date}} </p> 
</div>
{% endfor %}

<form action="{% url 'products:new_comment' product.id %}" method="post" >
	{% csrf_token %}
	<textarea name="txt_comment"></textarea>
	<input type="submit"/>
</form>
{% endblock %}