{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Product detail -- {{ product.name }}
{% endblock %}
{% load tagtools %}

{% block head %}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">{{ product.name }}</h1>

        <ol class="breadcrumb pull-right">
            <li><a href="#">￥{{ product.price }}</a></li>
            {% if user.is_authenticated %}
			{% if is_client %}
            <button type="button" class="btn btn-danger" onclick="new_order()">buy now!</button>
            <script type="text/javascript">
			function new_order()
			{
				/* showModal(
                    "确认订购",
                    "{% csrf_token %} "+ '{{ "product_new_order"|transacserial }}' +
                    '<select name="lawyer_id">'+
                    {% for lawyer in lawyers %}
                    '<option value="{{lawyer.id}}">{{lawyer.user.username}}</option>'+
                    {% endfor %}
                    '</select>'+
                    '备注：<input name="text" placeholder="无">',
                    ["取消","$确定"],
                    function (r) {
                        if(typeof r=="object"){ 
                            $.post(
                                "{% url 'products:new_order' product.id %}",
                                r,
                                function(data,status){
                                    alert(data.success);
                                    window.location.reload();
                                }
                            );
                        }
                    }
                ); */
				showModal(
					"确认订购",
                    "{% csrf_token %} "+ '{{ "product_new_order"|transacserial }}',
                    ["取消","$确定"],
                    function (r) {
                        if(typeof r=="object"){ 
                            $.post(
                                "{% url 'products:new_order' product.id %}",
                                r,
                                function(data,status){
                                    alert(data.success);
                                    window.location.reload();
                                }
                            );
                        }
                    }
				);
			}
			</script>
			{% endif %}
			{% else %}
			<button type="submit" class="btn btn-danger" onclick="alert()" >buy now!</button>
			<script type="text/javascript">
			function alert()
			{
				var log = $('#login');
				log.attr("data-container","body");
				log.attr("data-placement","bottom");
				log.attr("data-content","Please login or logout first");
				log.popover('show');
			}
			</script>
			{% endif %}
        </ol>
    </div>
</header>

{% endblock %}

{% block main%}
{% include product.include_html %}



<!--comment-->
<section>
                <h2 class="section-title">评价</h2>
{% for comment in products_comments %}
                <ul class="list-unstyled">
                    <li class="comment">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <img src="{{comment.user|avatarurl}}" alt="avatar" class="imageborder alignleft"  style="width: 100px; height: 100px;">
                                <p>{{comment.text}}</p>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-lg-10 col-md-9 col-sm-8">
                                        <i class="fa fa-user"> </i> <a href="{% url 'accounts:profile' comment.user.id %}">{{comment.user}}</a> <i class="fa fa-clock-o"></i>{{comment.publish_date}}
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                        <a href="#" class="pull-right">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
{% endfor %}
            </section>


<section class="comment-form">
                <h2 class="section-title">进行评论</h2>
                <form action="{% url 'products:new_comment' product.id %}" method="post" >
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                    <div class="form-group">
                        <label for="inputMessage">正文</label>
                        <textarea class="form-control" id="inputMessage" name="txt_comment" rows="6"></textarea>
                    </div>
                     <button type="submit" class="btn btn-ar pull-right btn-primary">提交</button>
                     {% else %}
                    <div class="form-group">
                        <label>请在 <a href="#">登录</a> 或 <a href="#">注册</a>后进行评论</label>
                    </div>
                    {% endif%}
                </form>
            </section>


{% endblock %}