{% extends 'smartcontract/base.html' %}
{% load tagtools %}{% load staticfiles %}
{% block title %}填写合同 订单号 {{order.serial}}{% endblock %}
{% block headextra %}
{{ block.super }}
<script type="text/javascript">
  var vars_initializer=[{% for v in vars_initializer %}['{{ v.0 }}', '{{ v.1 }}'], {% endfor %}];
  $(function () {
    page_title("填写合同");
    for (var i = vars_initializer.length - 1; i >= 0; i--) {
      $('#'+vars_initializer[i][0]).val(vars_initializer[i][1]);
    };
  });
</script>
{% endblock %}
{% block contexts %}
<h1>{{contract.name}}</h1>
<div class="col-md-9 ">
<form method="post" class="form-horizontal" role="form" action="{% url 'products:order_contract_form' order.id %}?pk_contract={{contract.id}}">
{% csrf_token %}
<ul class="timeline-2">

{% for step in steps %}
<li class="animated fadeInRight animation-delay-10">
  <time class="timeline-time" datetime="">Step <span>{{ forloop.counter }}</span> </time>
  <i class="timeline-2-point"></i>
  <div class="panel panel-default">
      <div class="panel-heading">{{ step.name }}</div>
      <div class="panel-body">
       {% for v in step.content %}
       <div class="form-group">
          {% include 'smartcontract/widgets.html' %}
        </div>
       {% endfor %}
        <!-- <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-ar btn-primary">save</button>
          </div>
        </div> -->
      </div>
  </div>
</li>
{% endfor %}
</ul>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-ar btn-primary">保存</button>
  </div>
</div>
</form> <!-- end form -->
</div>

{% endblock %}
